.contact {
    /* background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%); */
    padding: 60px 0 130px 0;
    margin-top: 100px !important;
}
.contact-box{
    /* background-color: #23222e; */
    background-color: #151515;
    border-radius: 24px;
    text-align: center;
    padding: 60px 50px;
    /* margin-top: -60px; */
    z-index: 1;
}

.contact img {
width: 92%;
}

.contact h2 {
text-align: center;
    font-size: 45px;
    font-weight: 700;
margin-bottom: 30px;
}

.contact input, textarea{
    margin-bottom: 50px;
    background-color: black;
    color: #fff;
    width: 100%;
    border:none;
    border-bottom: 3px solid #1890ff;
    border-radius: 10px;
    padding: 5px 10px;
    outline: none;
}
.contact .buttonBlock{
margin-top: 30px;
}
.contact .buttonIdleColor{
background-color: #1890ff !important; 
}
.contact .buttonLoadingColor{
background-color:cadetblue !important; 
}
.contact .buttonSuccessColor{
background-color: green!important; 
}


.cta-gradient-blur2{
    position: relative;
    margin-top: 100px;
    background: #f2305a; /* Old browsers */
    background: -moz-linear-gradient(left, #f2305a 0%, #fca832 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f2305a 0%,#fca832 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f2305a 0%,#fca832 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2305a', endColorstr='#fca832',GradientType=1 );  
    height: 600px;
    background-image: linear-gradient(90deg,rgba(77,84,255,.64),rgba(208,63,144,.64) 64%,rgba(255,56,104,.64));
    filter:blur(50px);
    /* top: -600px; */
    margin-top: -600px !important;
}